<div class="row">

  <div class="col-5 ps-5 my-3">
    <input [(ngModel)]="puzzleSize" type="number" min="3" max="40" class="inputs-width text-center">
    <select class="form-select mt-3 inputs-width" [(ngModel)]="solutionSpeed">

      <option *ngFor="let item of ['choose a solution speed','faster','medium','slowly'], index as i" [value]="i-1">
        {{item}}
      </option>

    </select>
    <div class="btn-group inputs-width my-3">
      <button (click)="initPuzzleNumbers(puzzleSize)" class="btn btn-primary col-6">
        {{ puzzleNumbers.length == puzzleSize ? 'mix' : 'update' }}
      </button>
      <button (click)="solvedOrStopSolution()" class="btn col-6" [ngClass]="isSolutionRunning? 'btn-danger' : 'btn-success' ">
        {{isSolutionRunning ? 'stop' :'solve'}}
      </button>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-center pt-4" >
    <mat-progress-spinner mode="indeterminate" color="accent" [diameter]="100" *ngIf="showSpinner">
    </mat-progress-spinner>
  </div>

</div>

<div class="row justify-content-center mx-0">
  <div class="game-board">
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor='let ar of puzzleNumbers; index as i'>
          <td (click)="onClickCell(i * puzzleSize + j)" *ngFor='let num of ar; index as j' class="align-middle text-center cell "
            [ngClass]=" 0 === num ? 'zero' : ''">
            {{num || ''}}
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>